<%- include('./partials/header'); -%>

<div>
  <% items.forEach(function(image) { %>

  <div>
    <div>
      <% if(image.img.data != null) { %>
      <img
        src="data:image/<%=image.img.contentType%>;base64,

<%=image.img.data.toString('base64')%>"
      />
      <% } %>

      <div>
        <h5><%= image.name %></h5>

        <p><%= image.alcohol %></p>

        <p><%= image.ingredientList %></p>
      </div>
    </div>
  </div>

  <% }) %>
</div>

<%- include('./partials/footer'); -%>
